
header {
    background-color: #007FFF;
    height: 75px;
    width: 100%;
}

header > p {
    color: #FFFFFF;
    font: bold 1.6em "segoe ui", arial, sans-serif;
    margin-left: 31px;
    padding-top: 20px;
}

main {
    margin: 0 auto;
    width: 100%;
}

section#text-container > div > p {
    font: 1.2em "segoe ui", arial, sans-serif;
}

section#report-container {
    height: calc(0.5625 * 80vw); /* 16:9 aspect ratio */
}

@media only screen and (max-width: 775px) {
    section#report-container {
        height: calc(0.5625 * 90vw); /* 16:9 aspect ratio */
    }
}

footer > p {
    font: 1em "segoe ui", arial, sans-serif;
}

iframe {
    border: none;
}

body {
    font: 400 15px Lato, sans-serif;
    line-height: 1.8;
    color: #0a0a0a;
  }
  h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: #303030;
    font-weight: 600;
    margin-bottom: 30px;
  }
  h4 {
    font-size: 19px;
    line-height: 1.375em;
    color: #303030;
    font-weight: 400;
    margin-bottom: 30px;
  }  
  .jumbotron {
    background-color: #26abff;
    color: #fff;
    padding: 50px 50px;
    font-family: Montserrat, sans-serif;
  }
  .container-fluid {
    padding: 40px 40px;
  }
  .bg-grey {
    background-color: #f6f6f6;
  }
  .logo-small {
    color: #26abff;
    font-size: 50px;
  }
  .logo {
    color: #26abff;
    font-size: 200px;
  }
  .thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
  }
  .thumbnail img {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
  }
  .carousel-control.right, .carousel-control.left {
    background-image: none;
    color: #26abff;
  }
  .carousel-indicators li {
    border-color: #26abff;
  }
  .carousel-indicators li.active {
    background-color: #26abff;
  }
  .item h4 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin: 70px 0;
  }
  .item span {
    font-style: normal;
  }
  .panel {
    border: 1px solid #26abff; 
    border-radius:0 !important;
    transition: box-shadow 0.5s;
  }
  .panel:hover {
    box-shadow: 5px 0px 40px rgba(0,0,0, .2);
  }
  .panel-footer .btn:hover {
    border: 1px solid #26abff;
    background-color: #fff !important;
    color: #26abff;
  }
  .panel-heading {
    color: #fff !important;
    background-color: #26abff !important;
    padding: 9px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  .panel-footer {
    background-color: white !important;
  }
  .panel-footer h3 {
    font-size: 32px;
  }
  .panel-footer h4 {
    color: #aaa;
    font-size: 14px;
  }
  .panel-footer .btn {
    margin: 11px 0;
    background-color: #26abff;
    color: #fff;
  }
  .navbar {
    margin-bottom: 0;
    background-color: #26abff;
    z-index: 9999;
    border: 0;
   
    font-size: 14px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
  }
  .navbar li a, .navbar .navbar-brand {
    color: #fff !important;
  }
  .navbar-nav li a:hover, .navbar-nav li.active a {
    color: #26abff !important;
    background-color: #fff !important;
  }
  .navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
  }
  footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: #26abff;
  }
  .slideanim {visibility:hidden;}
  .slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
  }
  @keyframes slide {
    0% {
      opacity: 0;
      transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  @-webkit-keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  }
  @media screen and (max-width: 768px) {
    .col-sm-4 {
      text-align: center;
      margin: 25px 0;
    }
    .btn-lg {
      width: 100%;
      margin-bottom: 35px;
    }
  }
  @media screen and (max-width: 480px) {
    .logo {
      font-size: 150px;
    }
  }
  
  .faq .accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.faq .active, .faq .accordion:hover {
  background-color: #ccc;
}

.faq .accordion:after {
  content: '\002B';
  color: rgb(81, 186, 221);
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.faq .active:after {
  content: "\2212";
}

.faq .panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}